table, td {
    border: 1px solid black;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100vh;
}
.buttons{
  text-align:center;
}
.controls h1 {
  text-align:center;
}
.drone-view h1 {
  text-align:center;
}
.path-info{
  text-align: center;
}

.removable:hover{
  background-color:red;
}

#locations{
  margin-left:auto;
  margin-right:auto;
}





/****************************Slider*****************************/
.slider li {
  list-style: none;
  position: absolute;
}

.slider input {
  display: none;
}


/* Navigation */

.slider label {
  background-color: #111;/*
  background-image: linear-gradient(transparent, hsla(0, 0%, 0%, .25));*/
  border: .2em solid transparent;
  bottom: .5em;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: .5em;
  left: 24em;
  opacity: 0;
  position: absolute;
/*   transition: .25s; */
  width: .5em;
  visibility: hidden; 
  z-index: 10;
}

.slider label:after {
  border-radius: 100%;
  bottom: -.2em;
  content: '';
  left: -.2em;
  position: absolute;
  right: -.2em;
  top: -.2em;
}

.slider:hover label {
  opacity: 1;
  visibility: visible;
}

.slider input:checked + label {
  background-color: #fff;
}

.slider:hover li:nth-child(1) label {
  left: .5em;
}

.slider:hover li:nth-child(2) label {
  left: 2em;
}

.slider:hover li:nth-child(3) label {
  left: 3.5em;
}

.slider:hover li:nth-child(4) label {
  left: 5em;
}

.slider:hover li:nth-child(5) label {
  left: 6.5em;
}

.slider:hover li:nth-child(6) label {
  left: 8em;
}

.slider:hover li:nth-child(7) label {
  left: 9.5em;
}


/* Images */

.slider img {
  height: 18.75em;
  opacity: 0;
  transition: .25s;
  width: 25em;
  vertical-align: top;
  visibility: hidden;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
#drone-response{
  width:80%;
  margin-left:auto;
  margin-right:auto;
  height:250px;
  background-color:#ECECEC;
  overflow-y:scroll;
}